<h2><%= t('views.recipes.index.title') %></h2>

<div><%= t('views.recipes.index.recipes_count') %>: <%= @recipes.count %></div>

<% @recipes.each do |recipe| %>
  <div>
    <p>
      <%= 
        button_to(
          t('views.recipes.index.continue'), projects_path(
            project: { 
              project_type_id: @project_type_id,
              recipe_id: recipe.id
            }
          )
        )
      %>
      <%= t("items.#{recipe.key}") %>
    </p>
    <p><%= t('views.recipes.index.time') %>: <%= recipe.base_speed %></p>
    <p><%= t('views.recipes.index.resources') %>:</p>
    <ul>
      <% recipe.recipe_instructions.each do |instruction| %>
        <li>
          <%= tn("resources.#{instruction.subject.key}") %>
          (<%= instruction.amount %> <%= td(instruction.unit) %>)</li>
      <% end %>
    </ul>
  </div>
<% end %>