<section id="building-menu">

  <div class="title-bar">
    <%= t('views.recipes.index.title') %>
  </div>

  <div><%= t('views.recipes.index.recipes_count', count: recipes.count) %></div>

  <ul style="text-align:left;">
    <% recipes.each do |recipe| %>
      <li class="build-item">
        <span onClick="toggleRecipe(this);" style="cursor:pointer;">
          <%= recipe[:recipe_type] %>
          <% unless locale == :en %>
            <span class="item-key">
              [<%= recipe[:key] %>]
            </span>
          <% end %>
        </span>
        <% expanded_class = recipe[:id].to_s.in?(expanded || []) ? 'block' : 'none' %>
        <div class="recipe-details" style="display: <%= expanded_class %>">
          <%= 
            link_to(
              t('views.recipes.index.continue'), new_build_projects_url(recipe[:id]),
              style: 'display: inline-block;'
            )
          %>
          <br /><%= t('views.recipes.index.time') %>: <%= recipe[:time_needed] %>
          <% if recipe[:resource_instructions].present? %>
            <br /><%= t('views.recipes.index.resources') %>:
            <ul>
              <% recipe[:resource_instructions].each do |instruction| %>
                <li>
                  <%= tn("resources.#{instruction.subject.key}") %>
                  (<%= instruction.amount %> <%= td(instruction.unit) %>)</li>
              <% end %>
            </ul>
          <% end %>

          <% if recipe[:item_instructions].present? %>
            <br /><%= t('views.recipes.index.resources') %>:
            <ul>
              <% recipe[:item_instructions].each do |instruction| %>
                <% if instruction[:options] %>
                  <% instruction[:options].each_with_index do |item, index| %>
                    <li>
                      <% if index > 0 %>
                        <span style="color:black"> <%= t('or') %> </span>
                      <% end %>
                      <%= tn("items.#{item[:key]}") %>
                    </li>
                  <% end %>
                <% else %>
                  <li>
                    <%= t("items.#{instruction[:key]}") %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>

          <% if recipe[:tool_instructions].present? %>
            <%= t('views.recipes.index.tools') %>:
            <ul>
              <% recipe[:tool_instructions].each do |instruction| %>
                <% if instruction[:options] %>
                  <% instruction[:options].each_with_index do |item, index| %>
                    <li>
                      <% if index > 0 %>
                        <span style="color:black"> <%= t('or') %> </span>
                      <% end %>
                      <%= tn("items.#{item[:key]}") %>
                    </li>
                  <% end %>
                <% else %>
                  <li>
                    <%= t("items.#{instruction.subject.key}") %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          <% end %>
          <% if recipe[:placement_instructions].present? %>
            <% recipe[:placement_instructions].each do |instruction| %>
              <% instruction.metadata['placement'].each do |p| %>
                <div>
                  <%= t("placements.#{p}") %>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</section>