<h2><%= t('views.recipes.index.title') %></h2>

<div><%= t('views.recipes.index.recipes_count') %>: <%= recipes.count %></div>

<ul>
  <% recipes.each do |recipe| %>
    <li style="margin-bottom: 8px; border-bottom: 1px solid black;">
      <span onClick="toggleRecipe(this);" style="cursor:pointer;"><%= recipe[:recipe_type] %></span>
      <% expanded_class = recipe[:id].to_s.in?(expanded || []) ? 'block' : 'none' %>
      <div class="recipe-details" style="display: <%= expanded_class %>">
        
        <%= 
          link_to(
            t('views.recipes.index.continue'), new_build_projects_url(recipe[:id]),
            style: 'display: inline-block;'
          )
        %>
        <br /><%= t('views.recipes.index.time') %>: <%= recipe[:time_needed] %>
        <% if recipe[:resource_instructions].present? %>
          <br /><%= t('views.recipes.index.resources') %>:
          <ul>
            <% recipe[:resource_instructions].each do |instruction| %>
              <li>
                <%= tn("resources.#{instruction.subject.key}") %>
                (<%= instruction.amount %> <%= td(instruction.unit) %>)</li>
            <% end %>
          </ul>
        <% end %>

        <% if recipe[:tool_instructions].present? %>
          <%= t('views.recipes.index.tools') %>:
          <ul>
            <% recipe[:tool_instructions].each do |instruction| %>
              <li>
                <%= t("items.#{instruction.subject.key}") %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <%= t('views.recipes.index.manual') %>
        <% end %>
        <% if recipe[:placement_instructions].present? %>
            <% recipe[:placement_instructions].each do |instruction| %>
              <div>
                <%= t("placements.#{instruction.metadata['placement']}") %>
              </div>
            <% end %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>