<h2><%= t('views.recipes.index.title') %></h2>

<div><%= t('views.recipes.index.recipes_count') %>: <%= @recipes.count %></div>

<ul>
  <% @recipes.each do |recipe| %>
    <li style="margin-bottom: 8px; border-bottom: 1px solid black;">
      <% key = recipe.recipe_type == 'building' ? 'buildings' : 'items' %>
      <span><%= t("#{key}.#{recipe.key}") %></span>
      <span style="display: inline-block;">
        <%= 
          button_to(
            t('views.recipes.index.continue'), projects_url(
              project: { 
                project_type_id: @project_type_id,
                recipe_id: recipe.id
              }
            ),
            style: 'display: inline-block;'
          )
        %>
      </span>
      <br /><%= t('views.recipes.index.time') %>: <%= recipe.base_speed %>
      <br /><%= t('views.recipes.index.resources') %>:
      <ul>
        <% recipe.recipe_instructions.resource.each do |instruction| %>
          <li>
            <%= tn("resources.#{instruction.subject.key}") %>
            (<%= instruction.amount %> <%= td(instruction.unit) %>)</li>
        <% end %>
      </ul>

      <% if recipe.recipe_instructions.tool.any? %>
        <%= t('views.recipes.index.tools') %>:
        <ul>
          <% recipe.recipe_instructions.tool.each do |instruction| %>
            <li>
              <%= t("items.#{instruction.subject.key}") %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <%= t('views.recipes.index.manual') %>
      <% end %>
    </div>
    </li>
  <% end %>
</ul>