<div class="content-left">
  <div class="table">
    
    <div class="row">
      <div class="cell cell-left">
        <%= t 'views.events.index.name_title' %>: 
      </div>
      <div class="cell cell-right">
        <%= link_to character.name_for(character), character_url(character.id) %>
        (<%= t "views.events.age", age: character.age %>)
      </div>
    </div>

    <div class="row">
      <div class="cell cell-left">
        <%= t 'views.events.index.carrying' %>: 
      </div>
      <div class="cell cell-right"> 
        <%= character.carrying_weight %>
        [<%= link_to t('views.events.index.inventory_page'), inventory_objects_url %>]
      </div>
    </div>

    <div class="row">
      <div class="cell cell-left">
        <%= t 'views.events.index.location' %>: 
      </div>
      <div class="cell cell-right">
        <% if travel_info.present? %>
          <%= render 'travellers/travel_info', travel_info: travel_info, character: character, project: project %>
        <% else %>
          <%= link_to location_info[:toplevel_location_name], location_name_url(location_info[:toplevel_location_id]) %>
          <% if location_info[:sublocation_id] %>
            (<%= link_to location_info[:sublocation_name], location_name_url(location_info[:sublocation_id]) %>)
          <% end %>
          <%= location_info[:location_type] %>
        <% end %>
      </div>
    </div>

    <% if project.present? %>
      <div class="row">
        <div class="cell cell-left">
          <%= t 'views.events.index.project' %>:
        </div>
        <div class="cell cell-right">
          <%= project.name(character, short: true).html_safe %> <%= project.progress %>%
        </div>
      </div>
    <% end %>
  </div>
</div>