<section id="character_information" style="float: left; width: 50%;">
  <div>
    <%= t 'views.events.index.name_title' %>: <%= link_to character.name_for(character), character_url(character.id) %>
    (<%= t "views.events.age", age: character.age %>)
  </div>
  <div>
    <%= t 'views.events.index.carrying' %>: <%= character.carrying_weight %>
    [<%= link_to t('views.events.index.inventory_page'), inventory_objects_url %>]
  </div>
  <div>
    <%= t 'views.events.index.location' %>: 
    <% if travel_info.present? %>
      <%= render 'travellers/travel_info', travel_info: travel_info, character: character %>
    <% else %>
      <%= link_to location.display_name(character, parent: true), location_name_url(location.id) %>
      [<%= t "locations.#{location.location_type.key}" %>]
      [<%= "#{location.x}, #{location.y}" %>]
    <% end %>
  </div>

  <% if character.location %>
    <div>
      <%= link_to t('views.events.index.build_menu'), recipes_url %>
    </div>
  <% end %>
  <% unless character.travelling? %>
    <div>
      <%= link_to t('views.events.index.travel'), new_traveller_url %>
    </div>
  <% end %>
</section>