<h2><%= t('views.events.events') %></h2>
<form action="/events" method="POST">
<input type="text" name="body">

<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
<%= hidden_field_tag :location_id, @location.id %>
<%= hidden_field_tag :character_id, @character.id %>

<button type="submit"><%= t('views.events.send') %></button>
</form>
<% events.each do |event| %>
  <div>
    <%= event[:created_at] %>
  </div>
  <% if event[:lead] %>
    <div>
      <%= t(event[:lead][:key], char_name: event[:lead][:char_name]).html_safe %>
    </div>
  <% end %>
  <div>
    <%= event[:body].html_safe %>
  </div>
<% end %>
