<h2><%= t('views.events.events') %></h2>
<%= form_for(:event) do |f| %>

  <%= f.text_field :body, id: 'submit-body' %>
  <%= f.submit t('views.events.send'), data: { disable_with: false }, class: "btn btn-large btn-primary" %>

<% end %>
<section id="event-list">
  <% events.each do |event| %>
    <div class="event">
      <span class="event-date">
        <%= event[:created_at] %>
      </span>
      <% if event[:lead] %>
        <span>
          <%= t(event[:lead][:key], char_name: event[:lead][:char_name]).html_safe %>
        </span>
      <% end %>
      <span>
        <%= event[:body].html_safe %>
      </span>
    </div>
  <% end %>
</section>
