<h2><%= t 'views.events.index.items_here' %></h2>
<% if items.any? %>
  <% items.each do |item| %>
    <div>
      <%= item.amount.to_i %> <%= t(item.unit) %> <%= t("resources.#{item.subject.key}") %>
    </div>
  <% end %>
<% else %>
  <%= t('items.nothing_here') %>
<% end %>