<h2><%= t 'views.events.index.items_here' %></h2>
<% if items.any? %>
  <% items.each do |item| %>
    <div>
      <%= link_to t('views.location_objects.take'), location_object_take_path(item.id) %>
      <%= item.amount.to_i %> <%= td(item.subject.unit) %> <%= td("resources.#{item.subject.key}") %>
    </div>
  <% end %>
<% else %>
  <%= t('items.nothing_here') %>
<% end %>