<h2><%= t 'views.events.index.projects_here' %></h2>
<% if projects.any? %>
  <% projects.each do |project| %>
    <div>
      #<%= project.id %>, <%= t('projects.started_by') %>: <%= project.starting_character_id %>
      <%= link_to t('projects.join'), project_join_path(project.id) %>
    </div>
  <% end %>
<% else %>
  <%= t('projects.nothing_here') %>
<% end %>