<h2><%= t 'views.events.index.resources_here' %></h2>

<% if location_resources.any? %>
  <% location_resources.each do |lr| %>
    <div>
      <%= link_to t('views.events.collect_resource'), new_projects_url(type: 'collect', location_resource_id: lr.id) %>
      <%= tn("resources.#{lr.resource.key}") %>
    </div>
  <% end %>
<% else %>
  <%= t('resources.nothing_here') %>
<% end %>
<%= link_to t('views.events.discover_new_resource'), new_location_location_resource_url(@location.id) %>