<%= turbo_stream_from @location, "location_#{@location.id}" %>
<section id="current_character" data-id="<%= @character.id %>">
  <h1>
    <%= t 'views.events.title' %>: <%= @character.name_for(@character) %>
  </h1>
</section>

<div>
  <%= t 'views.events.index.name_title' %>: <%= @character.name_for(@character) %>
  (<%= t "views.events.age", age: @character.age %>)
</div>
<div>
  <%= t 'views.events.index.carrying' %>: <%= @character.carrying_weight %>
  [<%= link_to t('views.events.index.inventory_page'), inventory_objects_path %>]
</div>
<div>
  <%= t 'views.events.index.location' %>: <%= @location.name %>
  [<%= t "locations.#{@location.location_type.key}" %>]
</div>

<section id="events" data-location-id="<%= @location.id %>">
  <%= render partial: 'events/events', locals: { events: @events } %>
</section>

<%= render partial: "events/characters", locals: { characters: @location.characters } %>
<%= render partial: "events/items", locals: { items: @items } %>
<%= render partial: "events/resources", locals: { location_resources: @location_resources } %>
<%= render partial: "events/projects", locals: { projects: @projects } %>
