<h1><%= t 'views.events.title' %>: <%= @character.name_for(@character) %></h1>
<div><%= t 'views.events.index.location' %>: <%= @location.name %></div>
<%= render partial: 'events/events', locals: { events: @events } %>
<%= render partial: "events/characters", locals: { characters: @location.characters } %>
<%= render partial: "events/items", locals: { items: @location.items } %>
<%= render partial: "events/resources", locals: { resources: @resources } %>
<%= render partial: "events/projects", locals: { projects: @location.projects } %>
