<section id="current_character" data-id="<%= @character.id %>"><h1><%= t 'views.events.title' %>: <%= @character.name_for(@character) %></h1></section>
<div><%= t 'views.events.index.location' %>: <%= @location.name %></div>
<section id="events" data-location-id="<%= @location.id %>">
  <%= turbo_stream_from @location, "events_#{@location.id}" %>
  <%= render partial: 'events/events', locals: { events: @events } %>
</section>
<%= render partial: "events/characters", locals: { characters: @location.characters } %>
<%= render partial: "events/items", locals: { items: @location.items } %>
<%= render partial: "events/resources", locals: { resources: @resources } %>
<%= render partial: "events/projects", locals: { projects: @projects } %>
