<% provide(:js_name, 'events') %>

<section id="current_character" data-id="<%= character.id %>">
  <div class="title-bar">
    <%= t('views.character_info') %>
  </div>
</section>

<div id="character_information" class="content">
  <%= render partial: 'events/character_info', locals: { 
    character: character, location_info: location_info, project: project, travel_info: travel_info 
  } %>
  <%= render partial: 'events/character_menu', locals: {
    character: character }
  %>
</div>


<section id="events" data-location-id="<%= location&.id %>" style="clear: both;">
  <div class="title-bar">
    <%= t 'views.events.title' %>: <%= character.name_for(character) %>
  </div>
  <%= render partial: 'events/events', locals: { events: events } %>
</section>

<section id="characters" style="clear: both;float: left;width:70%;">
  <div class="title-bar">
    <%= t 'views.events.index.characters_here' %>
  </div>
  <%= render partial: "events/characters", locals: { characters: characters } %>
</section>
<section id="map"  style="float: right; width: 29%;margin-left:3px;">
  <div class="title-bar">
    <%= t 'views.events.index.roads_here' %>
  </div>
  <img src="/maps" width=200 height=200>
</section>

<section id="items" style="clear: both;">
  <div class="title-bar">
    <%= t 'views.events.index.items_here' %>
  </div>
  <%= render partial: "events/items", locals: { 
    resources: items[:resources], items: items[:items] 
  } %>
</section>

<section id="items" style="clear: both;">
  <div class="title-bar">
    <%= t 'views.events.index.roads_here' %>
  </div>
  <%= render partial: "events/roads", locals: { roads: roads } %>
</section>

<% if location.present? %>
  <section id="items" style="clear: both;">
    <div class="title-bar">
      <%= t 'views.events.index.animals_here' %>
    </div>
    <%= render partial: "events/animals", locals: { animals: animals } %>
  </section>
<% end %>

<section id="buildings" style="clear: both;">
  <div class="title-bar">
    <%= t 'views.events.index.buildings_here' %>
  </div>
  <%= render partial: "events/buildings", locals: { 
    buildings: buildings, vehicles: vehicles 
  } %>
</section>

<% if location&.town? %>
  <section id="resources" style="clear: both;">
    <div class="title-bar">
      <%= t 'views.events.index.resources_here' %>
    </div>
    <%= render partial: "events/resources", locals: { 
      location: location,
      location_resources: location_resources 
    } %>
  </section>
<% elsif location&.parent_location_id %>
  <div>
    <%= link_to(
          fa_icon('arrow-right'),
          location_enter_url(location.parent_location.id), 
          title: t('views.buildings.enter')
    ) %>
    <%= link_to(
      location.parent_location.display_name(character), 
      location_name_url(location.parent_location.id)
    ) %>
  </div>
<% end %>

<% if location.present? || projects.present? %>
  <section id="resources" style="clear: both;">
    <div class="title-bar">
      <%= t 'views.events.index.projects_here' %>
    </div>
    <%= render partial: "events/projects", locals: { projects: projects } %>
  </section>
<% end %>
