<div class="title-bar"><%= t('views.projects.new.title') %></div>
<%= form_for :project, url: projects_url do |f| %>
  <%= f.hidden_field :project_type_id, value: project_type_id %>
  <%= f.hidden_field :recipe_id, value: recipe_id %>
  <table>
    <tr>
      <td><%= t('views.projects.new.item_name') %></td>
      <td><%= item_name %></td>
    </tr>
    <tr>
      <td><%= t('views.projects.new.time_needed') %></td>
      <td><%= time_needed %></td>
    </tr>
    <% if resources.any? %>
      <tr>
        <td><%= t('views.projects.new.resources_needed') %>:</td>
        <td>
          <% resources.each do |res| %>
            <div>
              <%= tn("resources.#{res[:key]}") %> 
              (<%= "#{res[:amount]} #{td(res[:unit])}" %> 
              <%= t('views.projects.new.needed') %>)
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>

    <% if objects.any? %>
      <tr>
        <td><%= t('views.projects.new.objects_needed') %></td>
        <td><%= time_needed %></td>
      </tr>
    <% end %>

    <% if tools.any? %>
      <tr>
        <td><%= t('views.projects.new.tools_needed') %></td>
        <td><%= time_needed %></td>
      </tr>
    <% end %>

    <% if machineries.any? %>
      <tr>
        <td><%= t('views.projects.new.machineries_needed') %></td>
        <td><%= time_needed %></td>
      </tr>
    <% end %>

    <% if placement.present? %>
      <tr>
        <td colspan=2>
          <%= t("placements.#{placement}") %>
        </td>
      </tr>
    <% end %>
    <tr>
      <td colspan=2 class="table-actions">
        <button type="button" onclick="location.href='<%= events_url %>'">
          <%= t('views.projects.new.cancel') %>
        </button>
        <%= f.submit t('views.projects.new.submit') %>
      </td>
    </tr>
  </table>
<% end %>