<div class="title-bar">
  <%= t('views.projects.new.machine.title') %>
</div>

<table style="width:75%;margin:auto;">
  <tr>
    <td colspan="2" style="padding-bottom:10px;">
      <input type="hidden" name="data" value="yes">
      <%= t('views.projects.machine.production_info', amount: daily_amount,
      resource: resource_out ) %>
    </td>
  </tr>

  <tr>
    <td style="text-align:right;">
      <%= t('views.projects.machine.resource') %>
    </td>
    <td style="padding-left:50px;text-align:left;">
      <%= t('views.projects.machine.amount_to_use') %>
    </td>
  </tr>
    
    <% resources_in.each do |resource| %>
      <tr>
        <td style="text-align:right;" width="350">
          <%= resource[:needed] %>
        </td>
          <td width="350" style="padding-left:20px;text-align:left;">
            <input type="text" name="amount_<%= resource[:key] %>" id="<%= resource[:key] %>" onkeyup="recount('<%= resource[:key] %>', this.value)"> (<%= resource[:having].to_i %>)
          </td>
      </tr>
    <% end %>

    <tr style="height:50px;">
      <td style="width:350px;text-align:right;">
        <%= t('views.projects.machine.amount') %>
      </td>
      <td style="width:350px; padding-left:20px;text-align:left">
        <input type="text" name="amount" size="30" value="" id="output" onkeyup="recount('soutput', this.value)">
      </td>
    </tr>

    <tr>
      <td style="width:350px;text-align:right;">
        <%= t('views.projects.machine.days') %>
      </td>
      <td style="width:350px;padding-left:20px;text-align:left">
        <input type="text" name="days" size="10" value="" id="days" onkeyup="recount('sdays', this.value)">
      </td>
    </tr>

    <tr>
      <td colspan="2">
        <%= t('views.projects.machine.max_amount', amount: max_amount) %>
      </td>
    </tr>

    <tr>
    <td colspan="2">
      <table style="width:100%">
        <tbody><tr>
          <td colspan="3">
            <%= t('views.projects.machine.use_resources') %>
            <br>
          </td>
        </tr>
        <tr>
          <td style="width:33%" align="left">
            <label>
              <input type="radio" name="resource_allocation" value="none">
              <%= t('views.projects.machine.use_no') %>
            </label>
          </td>
          <td style="width:33%" align="left">
            <label>
              <input type="radio" name="resource_allocation" value="full" checked=""> <%= t('views.projects.machine.use_if_all') %>
            </label>
          </td>
          <td align="left">
            <label>
              <input type="radio" name="resource_allocation" value="regardless">
              <%= t('views.projects.machine.use_yes') %>
            </label>
          </td>
        </tr>
      </tbody></table>
    </td>
  </tr>
</table>
  