<section id="project-info">
  <div class="title-bar">
    <%= t('views.projects.show.title') %> <%= name %>
  </div>
  <table width="70%" style="margin:auto;">
    <tbody>
      <tr>
        <td style="text-align:left;width:180px;">
          <%= t('views.projects.show.participants') %>
        </td>
        <td style="text-align:left;">
          <% participants.each do |worker| %>
            <div>
              <%= link_to(worker[:name], character_url(worker[:id])) %>
              (<%= t("skills.#{worker[:skill]}") %>)
            </div>
          <% end %>
        </td>
      </tr>

      <tr>
        <td style="text-align:left;width:180px;">
          <%= t('views.projects.show.start_by') %>
        </td>
        <td style="text-align:left;"><%= link_to(starting_character_name, character_url(starting_character_id)) %> (<%= start_day %>)</td>
      </tr>

      <tr>
        <td style="text-align:left;width:180px;">
          <%= t('views.projects.show.progress') %>
        </td>
        <td style="text-align:left;"><%= t('views.projects.info.percent', progress: progress) %></td>
      </tr>

      <tr>
        <td style="text-align:left;width:180px;">
          <%= t('views.projects.show.time') %>
        </td>
        <td style="text-align:left;"><%= time %></td>
      </tr>

      <tr>
        <td style="text-align:left;width:180px;">
          <%= t('views.projects.show.type') %>
        </td>
        <td style="text-align:left;"><%= t("views.projects.#{run_type}") %></td>
      </tr>

      <% if resources_used %>
        <tr>
          <td style="text-align:left;width:180px;">
            <%= t('views.projects.show.resources') %>
          </td>
          <td style="text-align:left;">
            <% resources_used.each do |resource| %>
              <%= t('views.projects.show.resource_info', key: resource[:key], to_add: resource[:to_add], needed: resource[:needed]) %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <% if repeats %>
        <tr>
          <td style="text-align:left;width:180px;">
            <%= t('views.projects.show.repeats') %>
          </td>
          <td style="text-align:left;"><%= repeats %></td>
        </tr>
      <% end %>

      <% if amount %>
        <tr>
          <td style="text-align:left;width:180px;">
            <%= t('views.projects.show.amount') %>
          </td>
          <td style="text-align:left;"><%= amount %></td>
        </tr>
      <% end %>

      <% if problems %>
        <tr>
          <td style="text-align:left;width:180px;padding-top:20px;" colspan="2">
            <%= t('views.projects.show.problems', desc: problems) %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td style="text-align:center;width:180px;padding-top:20px;" colspan="2">
          <%= link_to t('views.projects.show.destroy'), project_url(project_id), data: { method: "delete" }, class: 'char-action' %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
