  <td>
		<%= link_to character.name_for(character), character_set_url(character.id) %>
	</td>
	<td>
		<%= fa_icon(character.male? ? 'mars' : 'venus', title: t("genders.#{character.gender}")) %>
	</td>
	<td>
		<% if character.travelling? %>
			Travelling
		<% else %>
			<%= character.location.display_name(character, parent: true) %>
		<% end %>
	</td>
	<td>
		<% if character.location.present? %>
			<%= character.location.location_type.key %>
		<% end %>
	</td>
	<td>
		<% if character.project_info %>
			<a title="<%= character.project_info[:name] %>"><%= fa_icon('cogs') %></a> (P <%= character.project_info[:percent]%>%)</a>
		<% end %>
	</td>
