<div class="main">
  <section id="description">
    <%= t('views.characters.show.info') %>
  </section>
  <section id="actions">
    <%= t('views.characters.show.actions') %>
  </section>
  <section id="status">
    <div class="title-bar"><%= t('views.characters.show.current_state') %></div>
    <table>
      <tr>
        <td><%= t('views.characters.show.damage') %></td>
        <td><%= @character.damage %>%</td>
      </tr>
    </table>
  </section>
  <section id="skills">
    <%= t('views.characters.show.skills') %>
  </section>
  <section id="description">
    <div class="title-bar"><%= t('views.characters.show.description') %></div>
    <%= render 'characters/name_form' %>
  </section>
</div>