<section id="description">
  <div class="title-bar">
    <%= t('views.characters.show.info', name: name) %>
  </div>
  <% if project %>
    <%= "#{age} #{t('and')}" %>
    <%= t("skills.#{project['skill']}") %>
    <%= t('views.characters.show.project_name_html', name: link_to(project['name'].html_safe, project_url(project['id']))) %>.
  <% else %>
    <%= age %>.
  <% end %>
  <% if self_view %>
    <%= t("views.strength.#{strength}.#{gender}") %>
  <% end%>
  <p><%= t("characters.#{gender}_is") %> <%= t(
    'views.characters.show.location_info_html', 
    location_link: link_to(
      location[:name], location_name_url(location[:id])),
    location_type: location[:location_type]) %>
  <% if self_view %>
    <p><%= t(
      'views.characters.show.spawn_info_html', 
      day: spawn_day, 
      location_link: link_to(
        spawn_location_name, location_name_url(spawn_location_id))
      ) %>
  <% end %>
</section>
<section id="actions">
  <div class="title-bar">
    <%= t('views.characters.show.actions') %>
  </div>
    <%= link_to character_talk_url(id) do %>
      <div class="char-action" title="<%= t('characters.actions.talk') %>">
        <%= image_tag("talk.svg", size: "16x16") %>
        <%= t('characters.actions.talk') %>
      </div>
    <% end %>
    <%= link_to '' do %>
      <div class="char-action">Point</div>
    <% end %>
    <%= link_to '' do %>
      <div class="char-action">Join to project</div>
    <% end %>
    <%= link_to '' do %>
      <div class="char-action">Drag</div>
    <% end %>
    <%= link_to '' do %>
      <div class="char-action">Attack</div>
    <% end %>
</section>
<section id="status">
  <div class="title-bar">
    <%= t('views.characters.show.current_state') %>
  </div>
  <table>
    <tr>
      <td width="40%"><%= t('views.characters.show.damage') %>:</td>
      <td>
        <div class="stat">
          <div class="stat-outer"></div>
          <div class="stat-inner damage" style="width:<%= @character.damage %>%;">
          </div>
          <div class="stat-inner-number"><%= @character.damage %>%</div>
        </div>
      </td>
    </tr>
    <tr>
      <td width="40%"><%= t('views.characters.show.hunger') %>:</td>
      <td>
        <div class="stat">
          <div class="stat-outer"></div>
          <div class="stat-inner hunger" style="width:<%= @character.hunger %>%;">
          </div>
          <div class="stat-inner-number"><%= @character.hunger %>%</div>
        </div>
      </td>
    </tr>
  </table>
</section>

<% if self_view %>
  <section id="skills">
    <div class="title-bar">
      <%= t('views.characters.show.skills') %>
    </div>
    <div style="display:grid;grid-template-columns:repeat(2, 1fr);gap:5px;">
      <% skills.each do |skill| %>
        <div class="char-skill">
          <span style="text-align: right;">
            <%= t("skills.#{skill['key']}") %>
          </span>
          <span>
            — <%= t("skills.#{skill['description']}") %>
          </span>
        </div>
      <% end %>
    </div>
  </section>
<% end %>

<section id="description" style="padding-bottom: 15px;">
  <div class="title-bar">
    <%= t('views.characters.show.description') %>
  </div>
  <%= render 'characters/name_form' %>
</section>