<%= t 'views.characters.talk.talk_to', charname: @charname.display_name %>

<form action="/events" method="POST">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :location_id, @location.id %>
  <%= hidden_field_tag :character_id, @current_character.id %>
  <%= hidden_field_tag :receiver_character_id, @named_character.id %>

  <input type="text" name="body">

  <button type="submit"><%= t('views.events.send') %></button>
</form>
