<h2>Characters (<%= characters.length %>)</h2>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>User ID</td>
      <td>Location ID</td>
      <td>Gender</td>
      <td>Coords</td>
    </tr>
  </thead>
  <tbody>
    <% characters.each do |character| %>
      <tr>
        <td><%= character.id %></td>
        <td><%= character.user_id %></td>
        <td><%= link_to character.location_id, admin_location_url(character.location_id) %></td>
        <td><%= character.gender %></td>
        <td><%= coords(character) %></td>
      </tr>
    <% end %>
  </tbody>
</table>