<nav>
  <%= link_to t('views.layout.homepage_link'), root_path %>

  <% if signed_in? %>
  	<%= link_to t('views.layout.nav.profile'), list_path %>
  	<%= link_to t('views.layout.nav.settings_link'), '#' %>
  	<%= link_to t('views.layout.logout'), logout_path, method: "delete" %>
  <% else %>
  	<%= link_to t('views.layout.login'), login_path %>
  	<%= link_to t('views.layout.register'), register_path %>
  <% end %>
</nav>