<!DOCTYPE html>
<html>
<head>
  <title>Fabularr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-bar">
    <div class="header-title">Fabular</div>
    <div class="header-info">
      <div class="left header-date">Dzień: 9547 Czas: 3:7:4</div>
      <div class="right header-user">
        <% if current_user.present? %>
          <%= current_user.email %>
        <% else %>
          <%= t('views.not_logged_in') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="main">
    <% if @current_character %>
      <%= render 'layouts/character_header' %>
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <% flash.each do |key, value| %>
      <% if key == 'errors' %>
        <div class="alert alert-<%= key %>"><%= value.split("\n").join('< /br>') %></div>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    
    <%= yield %>
  </div>
  <div class="user-info">350 graczy było aktywnych w ciągu ostatnich 15 minut</div>
  <%= javascript_include_tag yield(:js_name), "data-turbolinks-track" => false %>
</body>
</html>
